$black: #000000;
$black_t: rgba(0,0,0,0.7);
$white: #ffffff;
$white_t: rgba(255,255,255,0.6);
$gray: #a9a9a9;
$gray_2: #8a8a8a;
$gray_3: #4e4e4e;
$cornflowerblue: #5787f4;
$royalblue: #4572ed;
$gold: #d69a33;
$carnation: #fb5259;
$mineshaft: #272727;
$brightturquoise: #31FEBB;
